:root {
    --rotation: 20deg;
}

body {
    margin: 0;
    background-color: black;
}

.debug {
    position: fixed;
    bottom: 0;
    right: 50px;
}

.debugItem {
    filter: brightness(200%) contrast(200%);
    color: cyan;
    font-family: monospace;
    width: fit-content;
    height: fit-content;
}

.UpgradeButton {
    background-color: rgb(50, 150, 250);
    color: white;
    border-radius: 9999px;
    width: 100%;
    font-size: 0.875em;
    line-height: 1.25em;
    padding: 0.25em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.UpgradeButton[disabled="true"] {
    background-color: gray;
    color: red;
}

.UpgradeButton[disabled="false"] {
    background-color: rgb(50, 100, 250);
    color: white;
}

#XPBar {
    align-content: center;
    right: 12.5vw;
    width: 25vw;
    top: 1vh;
    border: 1px solid white;
    background: linear-gradient(90deg, #5ba2ac 0%, #28257f 50%, #1a641a 100%);
}

#XPBar::-webkit-progress-value {
    background: linear-gradient(270deg, #5ba2ac 0%, #28257f 50%, #1a641a 100%);
}

#HighScore {
    list-style: decimal;
    margin-top: 20px;
    position: absolute;
    text-align: center;
    right: 15px;
}

#highScoreTitle {
    color: white;
    top: 0.5rem;
    overflow: hidden;
    width: 6rem;
    right: 2rem;
    user-select: none;
    position: fixed;
}

.rainbow-text {
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    text-align: center;
    background-size: 800% 800%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    animation: rainbow 8s ease infinite;
    transition-property: animation;
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
    transition-delay: 0s;
}

.rainbow-text:hover {
    animation: rainbow 4s ease infinite;
    transition-property: animation;
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
    transition-delay: 0s;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 25%
    }
    100% {
        background-position: 0% 50%
    }
}

#StartGameWrapper {
    background-color: rgb(50, 100, 250);
    border-radius: 90px;
    box-shadow: #5ba2ac 0 0 20px;
    transition-property: border-radius;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-duration: 0.5s;
    transition-delay: 0s;
    height: 2rem;
    cursor: pointer;
}

#StartGameWrapper:hover {
    background-color: rgb(50, 100, 250);
    border-radius: 10px;
    box-shadow: rgb(50, 150, 250) 10px 10px 30px;
}

#StartGameWrapper:hover #StartGameText {
    animation: rainbow 4s ease infinite;
    transition-property: animation;
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
    transition-delay: 0s;
}

#StartGameText {
    margin-top: 10px;
    position: relative;
    line-height: 1em;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#HighScore>li:hover {
    animation: forwards 1s ease-in pingNoFade;
}

@keyframes pingNoFade {
    75%,
    100% {
        transform: scale(2);
    }
}

#highScoreTextModal {
    animation: both 1s ease-in-out myAnim infinite;
    border-color: #e5e7eb;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    color: gold;
    display: block;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    left: 126px;
    line-height: inherit;
    margin: 0;
    position: relative;
    tab-size: 4;
    text-align: center;
    top: -1px;
    transform: translate(-34px, -112px);
    transition: none 0s ease 0s;
    user-select: none;
}

@keyframes myAnim {
    0%,
    100% {
        transform: scale(2) rotate(5deg);
    }
    50% {
        transform: scale(1) rotate(15deg);
    }
}

#PauseModal {
    position: absolute;
    display: none;
    width: 400px;
    height: 280px;
    top: 50%;
    left: 50%;
    background-color: slategray;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    user-select: none;
}

#PauseModal>h2 {
    user-select: none;
    text-align: center;
    position: relative;
    font-size: x-large;
    top: 5px;
    text-shadow: rgb(50, 50, 50) 1px 1px;
}

#PauseModalScore {
    user-select: none;
    position: absolute;
    font-weight: 900;
    font-size: 48pt;
    text-align: center;
    align-self: center;
    justify-self: center;
    right: 10px;
    left: 10px;
}

#PauseModalScoreLabel {
    user-select: none;
    color: black;
    position: absolute;
    font-size: medium;
    font-weight: 100;
    right: 50%;
    width: 20px;
    top: 40%;
    text-align: center;
}

#PauseModalPlayButton {
    user-select: none;
    position: absolute;
    right: 18%;
    width: 250px;
    height: 45px;
    align-self: center;
    text-align: center;
    bottom: 50px;
    background-color: rgb(50, 100, 200);
    color: white;
    border: 1px white;
    border-radius: 20px;
}

#PauseModalOptionsButton {
    user-select: none;
    position: absolute;
    right: 18%;
    width: 250px;
    height: 45px;
    align-self: center;
    text-align: center;
    bottom: 100px;
    background-color: rgb(50, 200, 50);
    color: white;
    border: 1px white;
    border-radius: 20px;
}

#OptionsModal {
    margin: 0;
    user-select: none;
    position: absolute;
    width: 290px;
    height: 250px;
    top: 50%;
    left: 50%;
    background-color: rgb(68, 77, 87);
    transform: translate(-50%, -50%);
    border-radius: 3px;
    box-shadow: inset darkslategray 2px 2px;
}

#OptionsModal>h2 {
    margin: 0;
    text-align: center;
    position: relative;
    font-size: x-large;
    top: 5px;
    text-shadow: rgb(50, 50, 50) 1px 1px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#SoundOptionsDiv {
    left: 75px;
    position: absolute;
    top: 60px;
}

#ParticlesOptionsDiv {
    left: 65px;
    position: absolute;
    top: 100px
}

#MusicOptionsDiv {
    left: 65%;
    position: absolute;
    top: 140px;
    display: none;
}

#SoundOptionsLabel {
    position: relative;
    top: 10px;
    font-weight: bold;
    font-size: 20pt;
}

#ParticlesOptionsLabel {
    position: relative;
    top: 10px;
    font-weight: bold;
    font-size: 20pt;
}

#MusicOptionsLabel {
    position: relative;
    top: 10px;
    font-weight: bold;
    font-size: 20pt;
}

#OptionsBackButton {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    align-self: center;
    left: 20px;
    background: royalblue;
    border: 0px;
    border-radius: 20px;
    width: 250px;
    height: 50px;
    font-size: large;
    font-weight: 700;
}