:root {
    --rotation: 20deg;
    --sliderScale: 1.5;
    --font: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: black;
}

html {
    overflow: hidden;
}

.debug {
    position: fixed;
    bottom: 0;
    right: 50px;
    text-decoration: none;
}

#CanvasActual {
    background-color: black;
    color: black;
}

.debugItem {
    list-style: none;
    filter: brightness(200%) contrast(200%);
    color: cyan;
    font-family: monospace;
    width: fit-content;
    height: fit-content;
    user-select: none;
    text-transform: capitalize
}

.UpgradeButton {
    background-color: rgb(50, 150, 250);
    color: white;
    border-radius: 9999px;
    width: 100%;
    font-size: 0.875em;
    line-height: 1.25em;
    padding: 0.25em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.UpgradeButton[disabled="true"] {
    background-color: gray;
    color: red;
}

.UpgradeButton[disabled="false"] {
    background-color: rgb(50, 100, 250);
    color: white;
}

#XPBar {
    align-content: center;
    right: 12.5vw;
    width: 25vw;
    top: 1vh;
    border: 1px solid white;
    background: linear-gradient(90deg, #5ba2ac 0%, #28257f 50%, #1a641a 100%);
    align-self: flex-start;
    position: relative
}

#XPBarLabel {
    display: none;
    color: white;
}

#XPBar::-webkit-progress-value {
    background: linear-gradient(270deg, #5ba2ac 0%, #28257f 50%, #1a641a 100%);
}

#HighScore {
    list-style: decimal;
    margin-top: 20px;
    position: absolute;
    text-align: center;
    right: 15px;
    font-size: 1.25rem;
}

#highScoreTitle {
    color: white;
    top: 0.5rem;
    overflow: hidden;
    width: 6rem;
    right: 2rem;
    font-size: 1rem;
    user-select: none;
    position: fixed;
}

.rainbow-background {
    background-image: repeating-linear-gradient(30deg, violet, indigo, blue, green, yellow, orange, red, violet);
    text-align: center;
    background-size: 800% 800%;
    -webkit-background-clip: content-box;
    background-clip: border-box;
    font-size: 24px;
    animation: rainbow 4s linear infinite;
}

.rainbow-text {
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    text-align: center;
    background-size: 800% 800%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    animation: rainbow 8s ease infinite;
    transition-property: animation;
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
    transition-delay: 0s;
}

.rainbow-text:hover {
    animation: rainbow 4s ease infinite;
    transition-property: animation;
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
    transition-delay: 0s;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 25%
    }
    100% {
        background-position: 0% 50%
    }
}

#StartGameWrapper {
    background-color: rgb(50, 100, 250);
    border-radius: 90px;
    box-shadow: #5ba2ac 0 0 20px;
    transition-property: border-radius;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-duration: 0.5s;
    transition-delay: 0s;
    height: 2rem;
    cursor: pointer;
}

#StartGameWrapper:hover {
    background-color: rgb(50, 100, 250);
    border-radius: 10px;
    box-shadow: rgb(50, 150, 250) 10px 10px 30px;
}

#StartGameWrapper:hover #StartGameText {
    animation: rainbow 4s ease infinite;
    transition-property: animation;
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
    transition-delay: 0s;
}

#StartGameText {
    margin-top: 10px;
    position: relative;
    line-height: 1em;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-family: var(--font)
}

#HighScore>li:hover {
    animation: forwards 1s ease-in pingNoFade;
}

@keyframes pingNoFade {
    75%,
    100% {
        transform: scale(2);
    }
}

#ModalEL {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#ModalELWrapper {
    background-color: rgb(100 116 139);
    max-width: 28rem;
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: #5ba2ac 0 0 20px;
    transition-property: border-radius box-shadow;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-delay: 0s;
}

#ModalELWrapper:hover {
    border-radius: 20px;
    box-shadow: #3b92cc 5px 5px 30px;
}

#BigScoreEL {
    font-size: 4.25rem;
    line-height: 0.25;
    color: white;
    font-weight: 700;
    margin-top: 1rem;
}

#PointsLabelEL {
    font-size: 1rem;
    line-height: 1rem;
    color: white;
    font-weight: 100;
    margin-bottom: 1rem;
    margin-top: 0.1rem;
}

#XPBarWrapper {
    width: 50%;
    left: 50%;
    top: 20px;
    place-items: center;
    align-items: center;
    user-select: none;
    position: fixed
}

#highScoreTextModal {
    animation: both 1s ease-in-out myAnim infinite;
    border-color: #e5e7eb;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    color: gold;
    display: block;
    font-family: var(--font);
    left: 126px;
    line-height: inherit;
    margin: 0;
    position: relative;
    tab-size: 4;
    text-align: center;
    top: -1px;
    transform: translate(-34px, -112px);
    transition: none 0s ease 0s;
    user-select: none;
}

@keyframes myAnim {
    0%,
    100% {
        transform: scale(2) rotate(5deg);
    }
    50% {
        transform: scale(1) rotate(15deg);
    }
}

#PauseModal {
    position: absolute;
    display: none;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    background-color: slategray;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    user-select: none;
}

#PauseModal>h2 {
    user-select: none;
    text-align: center;
    position: relative;
    font-size: x-large;
    top: 5px;
    text-shadow: rgb(50, 50, 50) 1px 1px;
}

#PauseModalScore {
    user-select: none;
    position: absolute;
    font-weight: 900;
    font-size: 48pt;
    text-align: center;
    align-self: center;
    justify-self: center;
    text-shadow: rgb(75, 75, 75) 2px 2px;
    right: 10px;
    left: 10px;
    top: 50px;
}

#PauseModalScoreLabel {
    user-select: none;
    color: black;
    position: absolute;
    font-size: medium;
    font-weight: 100;
    right: 50%;
    width: 20px;
    top: 40%;
    text-align: center;
}

#PauseModalPlayButton {
    user-select: none;
    position: absolute;
    right: 18%;
    width: 250px;
    height: 45px;
    align-self: center;
    text-align: center;
    font-size: large;
    bottom: 50px;
    background-color: rgb(50, 100, 200);
    color: white;
    border: 1px white;
    border-radius: 20px;
    outline: grey 2px outset;
    transition: outline-style 0.2s;
}

#PauseModalPlayButton:active {
    outline-style: inset;
}

#PauseModalOptionsButton {
    user-select: none;
    position: absolute;
    right: 18%;
    width: 250px;
    height: 45px;
    align-self: center;
    text-align: center;
    font-size: large;
    bottom: 100px;
    background-color: rgb(50, 200, 50);
    color: white;
    border: 1px white;
    border-radius: 20px;
    outline: grey 2px outset;
    transition: outline-style 0.2s;
}

#PauseModalOptionsButton:active {
    outline-style: inset;
}

#OptionsModal {
    margin: 0;
    user-select: none;
    position: absolute;
    width: 290px;
    height: 250px;
    top: 50%;
    left: 50%;
    background-color: rgb(68, 77, 87);
    transform: translate(-50%, -50%);
    border-radius: 3px;
    box-shadow: inset darkslategray 2px 2px;
}

#OptionsModal>h2 {
    margin: 0;
    text-align: center;
    position: relative;
    font-size: x-large;
    top: 5px;
    text-shadow: rgb(50, 50, 50) 1px 1px;
}

.switch {
    position: relative;
    display: inline-block;
    width: calc(30px*var(--sliderScale));
    height: calc(17px*var(--sliderScale));
    top: calc(10px*var(--sliderScale)/2);
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: calc(13px*var(--sliderScale));
    width: calc(13px*var(--sliderScale));
    left: calc(2px*var(--sliderScale));
    bottom: calc(2px*var(--sliderScale));
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(calc(13px*var(--sliderScale)));
    -ms-transform: translateX(calc(13px*var(--sliderScale)));
    transform: translateX(calc(13px*var(--sliderScale)));
}


/* Rounded sliders */

.slider.round {
    border-radius: calc(17px*var(--sliderScale));
}

.slider.round:before {
    border-radius: 50%;
}

#SoundOptionsDiv {
    left: 75px;
    position: absolute;
    top: 60px;
}

#ParticlesOptionsDiv {
    left: 65px;
    display: none;
    position: absolute;
    top: 100px
}

#ParticlesOptionsLabel {
    position: relative;
    top: 10px;
}

#OptionsBackButton {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    align-self: center;
    left: 20px;
    background: royalblue;
    border: 0px;
    border-radius: 20px;
    width: 250px;
    height: 50px;
    font-size: large;
    font-weight: 700;
    outline-style: outset;
    outline-color: darkgrey;
    outline-width: 2px;
    transition-property: outline-style;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#OptionsBackButton:active {
    outline-style: inset;
}


/* 
#MainMenu {
    user-select: none;
    margin: 0;
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

#MainMenuGameTitleWrapper {
    border-radius: 20px;
}

#MainMenuGameTitle {
    font-family: var(--font);
    font-size: xx-large;
    font-weight: bolder;
    user-select: none;
    position: relative;
    color: black;
    align-self: center;
    left: 0px;
    top: 0px;
    right: 50%;
    justify-self: center;
    text-align: center;
}

#MainMenuWrapper {
    background-color: grey;
    top: 60vh;
    left: 100vw;
    width: 500px;
    height: 210px;
    transform: translate(100%, 120%);
}

#MainMenuMuteButton {
    position: absolute;
    background-color: black;
    color: royalblue;
    font-size: 50px;
    max-width: 50px;
    max-height: 50px;
    border: 0;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    transform: translate(-20%, -25%);
    cursor: pointer;
}

#MainMenuOptionsButton {
    cursor: pointer;
    position: relative;
    top: 20px;
    left: 5px;
    height: 50px;
    width: 490px;
    font: bold xx-large black;
    background-color: royalblue;
    border-radius: 50px;
    margin-bottom: 5px;
}

#MainMenuStartButton {
    cursor: pointer;
    position: relative;
top: 20px;
left: 5px;
height: 50px;
width: 490px;
font: bold xx-large black;
background-color: royalblue;
border-radius: 50px;
margin-top: 5px;

}
*/

#UpperScoreWrapper {
    position: fixed;
    color: white;
    font-size: medium;
    margin-left: 0.5rem;
    margin-top: 0.25rem;
    user-select: none;
}

#HighScoreDiv {
    position: fixed;
    color: white;
    width: 2rem;
    height: 4rem;
    top: 1.25rem;
    right: 1.25rem;
    user-select: none;
    font-size: small;
}